page-home {
    ion-content.content.content-md {
        background-color: map-get($colors, darkGreen);
    }

    #homeLogo {
        display: block;
        margin: 0 auto;
        position: relative;
        top: 100px;
    }

    p {
        text-align: center;
        position: relative;
        top: 115px;
    }

    p#appTitle {
        font-family: $merienda-regular;
        color: map-get($colors, white);
    }

    p#appDesc {
        font-family: $merienda-regular;
        color: map-get($colors, white)
    }
}
